<footer class="border-t border-[#424938] py-20 md:py-16 xl:py-20">
  <div class="container max-w-full px-4 xl:px-12">
    <div class="flex flex-col gap-6 md:flex-wrap md:flex-row">
      <div class="md:w-[calc((100%-24px)/2)] xl:w-[calc((100%-72px)/4)]">
        <a href="/" class="inline-block mb-6"
          ><span
            class="font-(family-name:--second-family) text-[#b4f663] text-[24px] font-semibold leading-[1.3] tracking-[-0.03em]"
            >DEVHORIZON_26</span
          ></a
        >
        <p class="text-[16px] leading-normal text-[#c2c9b3] max-w-[320px]">
          A three-day conference for engineers who build the interfaces humans
          use every day.
        </p>
      </div>

      <nav class="md:w-[calc((100%-24px)/2)] xl:w-[calc((100%-72px)/4)]">
        <p
          class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#b4f663] mb-6"
        >
          // NAVIGATE
        </p>
        <ul class="flex flex-col gap-3">
          <li>
            <a href="/"
              ><span
                class="text-[#e1e4d4] leading-normal text-[16px] font-normal"
                >Home</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><span
                class="text-[#e1e4d4] leading-normal text-[16px] font-normal"
                >Schedul</span
              >e</a
            >
          </li>
          <li>
            <a href=""
              ><span
                class="text-[#e1e4d4] leading-normal text-[16px] font-normal"
                >Speakers</span
              ></a
            >
          </li>
        </ul>
      </nav>

      <div class="md:w-[calc((100%-24px)/2)] xl:w-[calc((100%-72px)/4)]">
        <p
          class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#b4f663] mb-6"
        >
          // TRACKS
        </p>
        <ul class="flex flex-col gap-3">
          <li class="text-[#e1e4d4] leading-normal text-[16px] font-normal">
            Frontend
          </li>
          <li class="text-[#e1e4d4] leading-normal text-[16px] font-normal">
            Performance
          </li>
          <li class="text-[#e1e4d4] leading-normal text-[16px] font-normal">
            Accessibility
          </li>
          <li class="text-[#e1e4d4] leading-normal text-[16px] font-normal">
            Tooling
          </li>
        </ul>
      </div>

      <div class="md:w-[calc((100%-24px)/2)] xl:w-[calc((100%-72px)/4)]">
        <p
          class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#b4f663] mb-6"
        >
          // VENUE
        </p>
        <address class="text-[#c2c9b3] leading-normal text-[16px] not-italic">
          Pier 70 <br />
          San Francisco, CA <br />
          Nov 15-17, 2026
        </address>
      </div>
    </div>
  </div>
</footer>
