<header class="mb-3 border border-solid border-[#424938]">
  <div
    class="container p-4 flex items-center justify-between max-w-full xl:px-12"
  >
    <nav class="flex items-center justify-between w-full">
      <a href="/" class="inline-block"
        ><span
          class="font-(family-name:--second-family) text-[#b4f663] text-[24px] font-semibold leading-[1.3] tracking-[-0.03em]"
          >DEVHORIZON_26</span
        ></a
      >
      <ul class="hidden md:flex gap-4">
        <li class="pt-1 pb-1 pl-3 pr-3">
          <a href="/">
            <span class="text-[#e1e4d4] leading-normal text-[12px] font-normal"
              >Home</span
            >
          </a>
        </li>
        <li class="pt-1 pb-1 pl-3 pr-3">
          <a href="">
            <span class="text-[#e1e4d4] leading-normal text-[12px] font-normal"
              >Schedule</span
            >
          </a>
        </li>
        <li class="pt-1 pb-1 pl-3 pr-3">
          <a href="">
            <span class="text-[#e1e4d4] leading-normal text-[12px] font-normal"
              >Speakers</span
            >
          </a>
        </li>
      </ul>
    </nav>

    <button
      class="inline-flex w-[34px] h-[34px] items-center justify-center md:hidden"
    >
      <svg class="fill-[#b4f663]" width="18" height="12">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
