<section class="py-12 border-b border-solid border-[#424938] xl:py-20">
  <div
    class="container max-w-[375px] mx-auto px-4 md:max-w-[768px] xl:max-w-[1440px] xl:px-12"
  >
    <div
      class="p-8 border border-solid border-[#424938] bg-[#0c0f07] flex flex-col gap-12 xl:p-12"
    >
      <h1
        class="font-(family-name:--second-family) text-[#e1e4d4] text-[32px] font-bold leading-[1.2] max-w-175 xl:text-[72px]"
      >
        WHERE CODE MEETS THE MACHINE_
      </h1>

      <div
        class="border-t border-solid border-[#424938] pt-6 md:flex justify-between"
      >
        <p
          class="text-[#c2c9b3] leading-[1.2] tracking-widest font-bold text-[12px] text-right"
        >
          NOV 15-17, 2026
        </p>
        <p
          class="text-[#c2c9b3] leading-[1.2] tracking-widest font-bold text-[12px] text-right"
        >
          PIER 70, SF
        </p>
      </div>
    </div>
  </div>
</section>
