<section class="border-b border-solid border-[#424938]">
  <div class="container max-w-full px-4 py-12 xl:px-12 xl:py-20">
    <div
      class="p-8 border border-solid border-[#424938] bg-[#0c0f07] flex flex-col gap-12 min-[1440px]:p-12"
    >
      <h1
        class="font-(family-name:--second-family) text-[#e1e4d4] text-[32px] font-bold leading-[1.2] min-[1440px]:text-[72px] max-w-175"
      >
        WHERE CODE MEETS THE MACHINE_
      </h1>

      <div
        class="border-t border-solid border-[#424938] pt-6 md:flex justify-between"
      >
        <p
          class="text-[#c2c9b3] leading-[1.2] tracking-widest font-bold text-[12px] text-right"
        >
          NOV 15-17, 2026
        </p>
        <p
          class="text-[#c2c9b3] leading-[1.2] tracking-widest font-bold text-[12px] text-right"
        >
          PIER 70, SF
        </p>
      </div>
    </div>
  </div>
</section>
