<section class="border-t border-[#424938] bg-[#191d13] py-20 md:py-16 xl:py-20">
  <div class="container max-w-full px-4 xl:px-12">
    <div class="flex flex-col gap-12">
      <p
        class="font-bold text-[12px] text-[#b4f663] leading-[1.2] tracking-[0.2em]"
      >
        // SCHEDULE_HIGHLIGHTS
      </p>
      <ul class="flex flex-col gap-6">
        <li class="border border-[#424938] bg-[#2a0808] xl:flex">
          <div
            class="border-b border-[#424938] bg-[#4a0005] py-4 px-6 xl:border-r xl:flex items-center justify-center xl:w-[130px]"
          >
            <p
              class="font-bold text-[12px] text-[#ffb4ab] leading-[1.2] tracking-widest text-center xl:-rotate-90"
            >
              PERFORMANCE
            </p>
          </div>
          <div class="p-8">
            <h2
              class="font-(family-name:--second-family) font-semibold text-[24px] leading-[1.3] text-[#e1e4d4] mb-2 md:uppercase md:text-[20px]"
            >
              video compression for the web: the middle-out approach
            </h2>
            <p
              class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#c2c9b3] mb-2 md:text-[10px]"
            >
              DINESH CHUGTAI // PIED PIPER
            </p>
            <button type="button" class="inline-flex gap-1 pt-2">
              <svg width="9" height="9" class="fill-[#8c947f]">
                <use href="../img/icons.svg#icon-plus"></use>
              </svg>
              <span class="text-[10px] leading-normal text-[#8c947f]"
                >SHOW DETAILS</span
              >
            </button>
          </div>
          <div
            class="border-t border-dashed border-[#424938] p-8 xl:ml-auto xl:border-l"
          >
            <p
              class="font-semibold text-[24px] leading-none text-center text-[#e1e4d4]"
            >
              11:00
            </p>
            <p class="text-[10px] leading-normal text-center text-[#8c947f]">
              12:00
            </p>
            <span></span>
            <p class="text-[10px] leading-normal text-[#e1e4d4] text-center">
              DAY 1
            </p>
          </div>
        </li>
        <li class="border border-[#424938] bg-[#112300] xl:flex">
          <div
            class="border-b border-[#424938] bg-[#240] py-4 px-6 xl:border-r flex items-center justify-center xl:w-[130px]"
          >
            <p
              class="font-bold text-[12px] text-[#b4f663] leading-[1.2] tracking-widest text-center xl:-rotate-90"
            >
              FRONTEND
            </p>
          </div>
          <div class="p-8">
            <h2
              class="font-(family-name:--second-family) font-semibold text-[24px] leading-[1.3] text-[#e1e4d4] mb-2 md:uppercase md:text-[20px]"
            >
              css container queries in production
            </h2>
            <p
              class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#c2c9b3] mb-2 md:text-[10px]"
            >
              MEI-LIN ZHANG // ROAMLY
            </p>
            <button type="button" class="inline-flex gap-1 pt-2">
              <svg width="9" height="9" class="fill-[#8c947f]">
                <use href="../img/icons.svg#icon-plus"></use>
              </svg>
              <span class="text-[10px] leading-normal text-[#8c947f]"
                >SHOW DETAILS</span
              >
            </button>
          </div>
          <div
            class="border-t border-dashed border-[#424938] p-8 xl:ml-auto xl:border-l"
          >
            <p
              class="font-semibold text-[24px] leading-none text-center text-[#e1e4d4]"
            >
              13:00
            </p>
            <p class="text-[10px] leading-normal text-center text-[#8c947f]">
              14:00
            </p>
            <span></span>
            <p class="text-[10px] leading-normal text-[#e1e4d4] text-center">
              DAY 1
            </p>
          </div>
        </li>
      </ul>
      <button
        type="button"
        class="border border-[#8c947f] py-3 px-12 self-center"
      >
        <span
          class="font-bold text-[12px] leading-[1.2] tracking-widest text-[#e1e4d4]"
          >VIEW FULL SCHEDULE</span
        >
      </button>
    </div>
  </div>
</section>
