<section class="border-b border-solid border-[#424938] py-12">
  <div class="container max-w-full px-4 xl:px-12">
    <div class="md:flex flex-row-reverse">
      <div class="border border-[#424938] w-full">
        <img src="/img/Elena-Vasquez-keynote.png" alt="Elena-Vasquez" />
      </div>
      <div class="bg-[#d6e4f9] p-8 w-full flex flex-col justify-center">
        <span
          class="block font-bold text-[12px] text-[#0f1c2c] leading-[1.2] tracking-[0.2em] mb-4"
          >// FEATURED KEYNOTE</span
        >
        <h2
          class="font-(family-name:--second-family) font-bold text-[32px] text-[#0f1c2c] leading-[1.2] mb-2"
        >
          elena vasquez
        </h2>
        <p
          class="font-bold text-[12px] text-[#0f1c2c] leading-[1.2] tracking-widest mb-8"
        >
          PRINCIPAL FRONTEND ENGINEER @BYTECRAFT
        </p>
        <h3
          class="font-(family-name:--second-family) font-semibold text-[24px] text-[#0f1c2c] leading-[1.3] mb-2"
        >
          THE NEXT FRONTIER OF WEB DEVELOPMENT
        </h3>
        <p
          class="font-bold text-[12px] text-[#0f1c2c] leading-[1.2] tracking-widest mb-12"
        >
          NOV 15 / 9:00 / ROOM A
        </p>
        <button
          type="button"
          class="inline-flex items-center gap-2 border border-[#0f1c2c] px-6 py-3 self-start"
        >
          <span
            class="font-bold text-[12px] text-[#0f1c2c] leading-[1.2] tracking-widest"
            >VIEW TALK</span
          >
          <svg width="16" height="16" class="fill-[#0f1c2c]">
            <use href="/img/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
