<div
  id="mobileMenu"
  class="fixed inset-0 bg-[#1d2117] z-50 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out"
>
  <div class="container max-w-[375px] mx-auto px-4">
    <div>
      <nav class="">
        <ul class="flex flex-col items-center gap-7">
          <li>
            <a
              href="/"
              class="block pt-1 pb-1 pl-3 pr-3 leading-[1.2] text-[24px] tracking-widest font-bold text-[#b4f663] border hover:bg-[#32362b] transition-colors duration-300"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="#shedule"
              class="block pt-1 pb-1 pl-3 pr-3 leading-[1.2] text-[24px] tracking-widest font-bold text-[#e1e4d4] hover:text-[#b4f663] hover:bg-[#32362b] transition-colors duration-300"
            >
              Schedule
            </a>
          </li>
          <li>
            <a
              href="#speakers"
              class="block pt-1 pb-1 pl-3 pr-3 leading-[1.2] text-[24px] tracking-widest font-bold text-[#e1e4d4] hover:text-[#b4f663] hover:bg-[#32362b] transition-colors duration-300"
              >Speakers
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
