<div class="border-t border-[rgba(66, 73, 56, 0.3)] py-8">
  <div
    class="container max-w-[375px] mx-auto px-4 md:max-w-[768px] xl:max-w-[1440px] xl:px-12"
  >
    <div class="flex flex-col items-center gap-5">
      <p class="text-[10px] leading-normal text-[#c2c9b3] text-center">
        © 2026 DEVHORIZON. ALL RIGHTS RESERVED.
      </p>
      <button type="button" class="inline-flex items-center gap-1 group">
        <span
          class="text-[10px] leading-normal tracking-widest text-[#8c947f] transition-colors duration-300 group-hover:text-[#b4f663]"
          >BACK TO TOP</span
        >
        <svg
          width="10"
          height="10"
          class="fill-[#8c947f] transition-colors duration-300 group-hover:fill-[#b4f663]"
        >
          <use href="/img/icons.svg#icon-top"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
