<div class="border-t border-[rgba(66, 73, 56, 0.3)] py-8">
  <div class="container max-w-full px-4 xl:px-12">
    <div class="flex flex-col items-center">
      <p class="text-[10px] leading-normal text-[#c2c9b3] text-center">
        © 2026 DEVHORIZON. ALL RIGHTS RESERVED.
      </p>
      <button type="button" class="inline-flex items-center gap-1">
        <span class="text-[10px] leading-normal tracking-widest text-[#8c947f]"
          >BACK TO TOP</span
        >
        <svg width="10" height="10" class="fill-[#8c947f]">
          <use href="../img/icons.svg#icon-top"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
