<section class="py-20 md:py-16 xl:py-20">
  <div class="container max-w-full px-4 xl:px-12">
    <p
      class="font-bold text-[12px] text-[#b4f663] leading-[1.2] tracking-[0.2em] mb-12"
    >
      // TRACKS
    </p>

    <ul class="flex flex-col gap-6 md:flex-row md:flex-wrap md:gap-4 xl:gap-6">
      <li
        class="border border-[#424938] p-8 w-full md:w-[calc((100%-16px)/2)] xl:w-[calc((100%-72px)/4)]"
      >
        <h2
          class="font-(family-name:--second-family) font-semibold text-[24px] text-[#b4f663] leading-[1.3] mb-2"
        >
          FRONTEND
        </h2>
        <p class="text-[16px] text-[#c2c9b3] leading-normal mb-6">
          BUILDING MODERN INTERFACES FOR THE WEB
        </p>
        <p
          class="font-bold text-[12px] text-[#8c947f] leading-[1.2] tracking-widest"
        >
          TRACK_01
        </p>
      </li>
      <li
        class="border border-[#424938] p-8 w-full md:w-[calc((100%-16px)/2)] xl:w-[calc((100%-72px)/4)]"
      >
        <h2
          class="font-(family-name:--second-family) font-semibold text-[24px] text-[#b4f663] leading-[1.3] mb-2"
        >
          PERFORMANCE
        </h2>
        <p class="text-[16px] text-[#c2c9b3] leading-normal mb-6">
          MAKE EVERY MILLISECOND COUNT
        </p>
        <p
          class="font-bold text-[12px] text-[#8c947f] leading-[1.2] tracking-widest"
        >
          TRACK_02
        </p>
      </li>
      <li
        class="border border-[#424938] p-8 w-full md:w-[calc((100%-16px)/2)] xl:w-[calc((100%-72px)/4)]"
      >
        <h2
          class="font-(family-name:--second-family) font-semibold text-[24px] text-[#b4f663] leading-[1.3] mb-2"
        >
          ACCESSIBILITY
        </h2>
        <p class="text-[16px] text-[#c2c9b3] leading-normal mb-6">
          BUILDING INCLUSIVE EXPERIENCES FOR EVERYONE
        </p>
        <p
          class="font-bold text-[12px] text-[#8c947f] leading-[1.2] tracking-widest"
        >
          TRACK_03
        </p>
      </li>
      <li
        class="border border-[#424938] p-8 w-full md:w-[calc((100%-16px)/2)] xl:w-[calc((100%-72px)/4)]"
      >
        <h2
          class="font-(family-name:--second-family) font-semibold text-[24px] text-[#b4f663] leading-[1.3] mb-2"
        >
          TOOLING
        </h2>
        <p class="text-[16px] text-[#c2c9b3] leading-normal mb-6">
          LEVEL UP YOUR DEVELOPER WORKFLOW
        </p>
        <p
          class="font-bold text-[12px] text-[#8c947f] leading-[1.2] tracking-widest"
        >
          TRACK_04
        </p>
      </li>
    </ul>
  </div>
</section>
